[Desktop Entry]
Name=Drop
Comment=Self-hosted game distribution and multiplayer platform client
Exec=drop-desktop-client %u
Icon=org.droposs.client
Type=Application
Categories=Game;Network;
MimeType=x-scheme-handler/drop;
Terminal=false
StartupWMClass=Drop Desktop Client
